*{
    font-family: montserrat;
}
body{
    background: f1fbff;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-item{
    transition: transform 0.5s ease, opacity .5s ease-out;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #0087bd;
}
.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh;
}

/* Responsive */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}

.object-fit-cover {
    height: 180px;
    width: 180px;
}
#category-row{
    justify-content: center;
    align-items: center;
}
.category-body h4{
    font-size: 20px;
    position: absolute, center;
    text-transform: uppercase;
}

footer{
    background-color: #c9d3df;
    position: relative;
    clear: both;
}
.Footer-text h3{
    font-size: 20px;
    position: absolute, center;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
}
#textplace{
    padding: 15px;

}

.category a {
    text-decoration: none; /* Menghilangkan garis bawah */
    color: inherit; /* Mengambil warna teks dari elemen induk */
}

.category a:hover {
    text-decoration: none; /* Menghilangkan garis bawah saat hover */
    color: inherit; /* Mengambil warna teks dari elemen induk saat hover */
}
