/* <!--Login Register--> */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(81, 66, 245, 0.8),rgba(81, 66, 245, 0.8)), url(/image/listrik.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: left;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #64a3f1;
    position: relative;
}

/* <--registrasi--> */
.form-box-reg{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 80px 70px;
    text-align: left;
}

.form-box-reg h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: #64a3f1;
    position: relative;
}

/* .form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #a7690c;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
} */

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: right;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #64a3f1;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.btn-field button{
    flex-basis: 70%;
    background: #64a3f1;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 30px;
}
.no-account p{
    text-align: center;
    font-size: 13px;
    padding: 10px;
}

.input-group-login{
    height: 195px;
}
.input-group{
    height: 320px;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}

.pesan-kesalahan {
    color: red;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pesan-kesalahan li {
    margin-bottom: 5px;
  }

  .input-field.error {
    border: 1px solid red;
  }

  .alert {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

